
.dash-search{
    background-color: white;
    width: 442px;
    height: 42px;
    border-radius: 49px;
    margin-left: 50px;
    outline: none;
    border: none;
    padding-left: 15px;
    transition: all .6s ease-in-out;
}

.dash-search:focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -5px;
}
.dash-right-header{
    display: flex;
    width: 100%;
    padding:20px;
    background-color: #5995fd;
}

.notifi-icon{
    position: relative;
    flex: 0.3 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    margin-left: 50px;
}

.name{
    text-align:center;padding-left:15px;font-weight:100;color:white;padding-top:10px;
}
.notifi-size{
    position: absolute;
    top: 5px;
    left: 124px;
    font-size: 11px;
    background-color: red;
    border-radius: 99px;
    color: white=;
    width: 16px;
    height: 16px;
    text-align: center;
}
