.custom-control-input:checked~.form-check-input::before {
    color: #fff;
    border-color: #7B1FA2;
  }
  
  .custom-control-input:checked~.form-check-input::before {
    background-color: red;
  }
  
  .custom-control-input:checked~.form-check-input::before {
    background-color: green;
  }